@media only screen and (max-width: 100px){
    
    *{
        /*width: 90%;
        height: auto;*/
        position:absolute;
        display:block;
        height:100px;
        width:100px;
        left:50%;
        top:50%;
        margin-top:-50px;
        margin-left:-50px;
    }
}
